
@{
    ViewBag.Title = "about";
}

<h2>Acerca de los desarrolladores:</h2>



<img src="/Fotos/Nizar_Sanchez.jpg" width="200" height="200" />


<div>
    <b>Nombre:</b> Nizar Sanchez<br />
    <b>Matricula:</b> 2018-6482
    <br />
    <b>Funcionalidades desarrolladas</b>
    <ul>
        <li>Conversor de unidades</li>
        <li>Formulario de solicitud de empleo</li>
        <li>Acerca de:</li>

    </ul>

</div>

<br />
<br />
<br />


<img src="/Fotos/Roderlin_Dipre.jpg" width="200" height="200" />
<br />
<b>Nombre:</b> Roderlin Dipre
<br />
<b>Matricula:</b> 2018-5831
<br />
<b>Funcionalidades desarrolladas</b>
<ul>
    <li>Log in</li>
    <li>Lector de Archivos</li>
    <li>Filtro de contenidos</li>

</ul>

