@model System.Data.DataTable
@using System.Data;

@{
    ViewBag.Title = "excelFile";
}

<h2>Seleccione un archivo excel para abrir</h2>

@using (Html.BeginForm("excelFile", "Data", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="form-group">
        <input type="file" id="dataFile" name="upload" />
    </div>

    <div class="form-group">
        <input type="submit" value="Cargar Archivo" class="btn btn-default" />
    </div>

    if (Model != null)
    {
        <table>
            <thead>
                <tr>
                    @foreach (DataColumn col in Model.Columns)
                    {
                    <th>@col.ColumnName</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow row in Model.Rows)
                {
                    <tr>
                        @foreach (DataColumn col in Model.Columns)
                        {
                            <td>@row[col.ColumnName ]</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
}
