
@{
    ViewBag.Title = "Index";
}

<h2>Seleccione el archivo que desea visualizar</h2>

@using (Html.BeginForm("ExcelFile", "Data", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" id="file" />
    <br>
    <input class="btn btn-primary" type="submit" value="ENVIAR" />
}

