
@{
    ViewBag.Title = "Musica";
}

<h2>Musica</h2>

<div class="row">
    <div>
        <div class="col-md-2">
            <img src="~/fotosfiltro/spo.jpg" width="180" height="250" />
            <p>SPOTIFY</p>
            <a class="btn btn-default" href="https://www.spotify.com/do/premium/?utm_source=do-es_brand_contextual-desktop_text&utm_medium=paidsearch&utm_campaign=alwayson_latam_do_premiumbusiness_core_brand+contextual-desktop+text+exact+do-es+google&gclid=EAIaIQobChMI0LDj5Ozt5wIVtf7jBx0rqQR3EAAYASAAEgKZ2PD_BwE&gclsrc=aw.ds">Acceder al Sitio</a>
        </div>

        <div class="col-md-2">
            <img src="~/fotosfiltro/sc.jpg" width="180" height="250" />
            <h3>SoundCloud</h3>
            <a class="btn btn-default" href="https://soundcloud.com">Acceder al Sitio</a>
        </div>

        <div class="col-md-2">
            <img src="~/fotosfiltro/tni.jpg" width="180" height="250" />
            <h3>Tunein</h3>
            <a class="btn btn-default" href="https://tunein.com">Acceder al Sitio</a>
        </div>

        <div class="col-md-2">
            <img src="~/fotosfiltro/dz.png" width="180" height="250" />
            <h3>Deezer</h3>
            <a class="btn btn-default" href="https://www.deezer.com/es/">Acceder al Sitio</a>
        </div>

        <div class="col-md-2">
            <img src="~/fotosfiltro/nst.jpg" width="180" height="250" />
            <h3>Napster</h3>
            <a class="btn btn-default" href="https://us.napster.com">Acceder al Sitio</a>
        </div>
    </div>
</div>