
@{
    ViewBag.Title = "Noticias";
}

<h2>Noticias</h2>

<div>
    <div class="row">
        <h3>Noticias Locales</h3>
        <div >
            <div class="col-md-2">
                <img src="~/fotosfiltro/sin.jpg" width="160" height="250"/>
                <p>Noticias SIN</p>
                <a class="btn btn-default" href="https://noticiassin.com">Acceder al Sitio</a>
            </div>

            <div class="col-md-2">
                <img src="~/fotosfiltro/nuria.jpg" width="160" height="250"/>
                <p>Nuria</p>
                <a class="btn btn-default" href="https://n.com.do">Acceder al Sitio</a>
            </div>

            <div class="col-md-2">
                <img src="~/fotosfiltro/listin.jpg" width="160" height="250"/>
                <p>Listin Diario</p>
                <a class="btn btn-default" href="https://listindiario.com">Acceder al Sitio</a>
            </div>

            <div class="col-md-2">
                <img src="~/fotosfiltro/telenoticias.jpeg" width="160" height="250"/>
                <p>Telenoticias</p>
                <a class="btn btn-default" href="https://telesistema11.com.do/telenoticias">Acceder al Sitio</a>
            </div>

            <div class="col-md-2">
                <img src="~/fotosfiltro/antena7.png" width="160" height="250"/>
                <p>Antena Noticias 7</p>
                <a class="btn btn-default" href="http://www.antena7.com.do">Acceder al Sitio</a>
            </div>
        </div>
    </div>

    <div class="row">
        <h3>Noticias Internacionales</h3>
        <div>
            <div class="col-md-2">
                <img src="~/fotosfiltro/univision.png" width="160" height="250" />
                <p>Univision Noticias</p>
                <a class="btn btn-default" href="https://www.univision.com/noticias">Acceder al Sitio</a>
            </div>

            <div class="col-md-2">
                <img src="~/fotosfiltro/cnn.png" width="160" height="250" />
                <p>CNN en Español</p>
                <a class="btn btn-default" href="https://cnnespanol.cnn.com">Acceder al Sitio</a>
            </div>

            <div class="col-md-2">
                <img src="~/fotosfiltro/post.jpeg" width="160" height="250" />
                <p>The Washington Post</p>
                <a class="btn btn-default" href="https://www.washingtonpost.com/?tid=paid_gse_eng_intl&utm_source=google&utm_medium=&utm_campaign=&gclid=EAIaIQobChMIx8it0fDr5wIVFqSzCh3l2QmjEAAYASAAEgIdvvD_BwE">Acceder al Sitio</a>
            </div>

            <div class="col-md-2">
                <img src="~/fotosfiltro/gd.jpg" width="160" height="250" />
                <p>The Guardian</p>
                <a class="btn btn-default" href="https://www.theguardian.com/world/series/the-guardian-in-spanish">Acceder al Sitio</a>
            </div>

            <div class="col-md-2">
                <img src="~/fotosfiltro/tm.jpg" width="160" height="250" />
                <p>The New York Times</p>
                <a class="btn btn-default" href="https://www.nytimes.com/es/">Acceder al Sitio</a>
            </div>
        </div>
    </div>
</div>