
@{
    ViewBag.Title = "Peliculas";
}

<h2>Peliculas</h2>

<div class="row">
    <div>
        <div class="col-md-2">
            <img src="~/fotosfiltro/netflix.jpg" width="180" height="250" />
            <h3>Netflix</h3>
            <a class="btn btn-default" href="https://www.netflix.com/do/">Acceder al Sitio</a>
        </div>

        <div class="col-md-2">
            <img src="~/fotosfiltro/amazon.jpg" width="180" height="250" />
            <h3>Amazon Peliculas</h3>
            <a class="btn btn-default" href="https://www.primevideo.com/?ref_=dvm_pds_amz_DO_kc_s_g|c_292950245165_m_LVcJTayU-dc_s__">Acceder al Sitio</a>
        </div>

        <div class="col-md-2">
            <img src="~/fotosfiltro/google.png" width="180" height="250" />
            <h3>Google Play peliculas</h3>
            <a class="btn btn-default" href="https://play.google.com/store/movies?hl=es_419">Acceder al Sitio</a>
        </div>

        <div class="col-md-2">
            <img src="~/fotosfiltro/foxplay.png" width="180" height="250" />
            <h3>Fox Play</h3>
            <a class="btn btn-default" href="https://foxplay.com/do/forme">Acceder al Sitio</a>
        </div>

        <div class="col-md-2">
            <img src="~/fotosfiltro/hbo.png" width="180" height="250" />
            <h3>HBO Go</h3>
            <a class="btn btn-default" href="https://www.hbogo.com.br/landing">Acceder al Sitio</a>
        </div>
    </div>
</div>